<P> Welcome to Rob's Angular App</P>
<app-createmovie></app-createmovie>
<!--<app-first-component></app-first-component>
<app-second-component></app-second-component>
<app-createmovie></app-createmovie> -->
<title> Animation And Creativity </title>
<body> 
  Creativity is the by-product of imagination. The different aspects of how a problem can be tackled or how unoque a problem 
  can be approached stays on the realm of how outside-the- box thinking the user has and the willingness
  to conform to change
</body>
